@charset "UTF-8";
/* CSS Document */



bady {
	margin: 0;
	background-color: aqua;
}

/* ヘッダー*/

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	
}



.headA {
	display: inline-block;
	line-height: 70px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #99C5D9;
    color:#EBFDFF;
	font-size: 24px;
	text-decoration: none;
}


header .container {
	display: flex;
	
	justify-content: space-between;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}



/*ナビ*/
.nav01 {

	max-width: 1000px;
	margin: 0 auto;
	
}


.nav01 ul {
	display: flex;
	list-style: none;
	
}

.nav01 a {
	display: block;
	padding: 15px;
	color: inherit;
	font-size: 14px;
	text-decoration: none;
	
}

.nav01 a:hover {
	background-color: rgba(0,0,0,0.3);
}
/*トップ*/

.top {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 500px;
	
}

.top h1 {
     font-size: 40px;
	 color: #2155C2;
	 letter-spacing: 0.5em;
}


.top p {
	font-size: 28px;
	color: #6180DD;
	letter-spacing: 0.8em;
}
 

/*コンテンツA*/

.conA .container01 {
	
}

.conA {

	background-color: #C7E2E4;

}

.container01 {
	text-align: center;
	background-color: #B2FFB4;
	max-width: 1000px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mono {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}



/*コンテンツB*/

.container02 {
	text-align: center;
	background-color:#FDFFA9;
	max-width: 1000px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image001 {
	margin: 0 30px;
}

.text01 {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.table01 {
	text-align: center;
	background-color: #93A6FF;
	max-width: 1000px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-color:#000000;
	
}

th {
	color: #FFFFFF;
	background-color: #4C4C4C;
	text-align: center;
	border: solid 1px;
	border-color:#000000;
	padding: 0.5em;
}


td {
	border: solid 1px;
	background-color: #FFFFFF;
}

table {
	border-collapse: collapse;
	
}



